.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid var(--link-hover-color);
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.footerIcons {
  text-align: center;
  margin-top: px;
  border: none;
  background-color: var(--background-color);
  color: var(--secondary-text-color);
}

.footerIcons:hover {
  color: var(--link-hover-color);
  cursor: pointer;
}
