.container {
  padding: 0 2rem;
  display: flex;
}

.aboutTitle {
  color: var(--secondary-text-color);
  position: absolute;
}

.hamTags {
  color: var(--link-hover-color);
}
.aboutMe {
  width: 500px;
  padding: 4rem 0;
}

.aboutImg {
  max-width: 100%;
  display: flex;
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 20px;
}

.aboutDescription {
  color: var(--main-text-color);
  display: block;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 730px) {
  .wrapper {
    display: flex;
    gap: 100px;
    align-items: center;
  }

  .aboutDescription {
    width: 50%;
  }
}
