.contactTitle {
  color: var(--secondary-text-color);
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  display: flex;
  align-items: center;
}

.hamTags {
  color: var(--link-hover-color);
}

.contactForm {
  border-radius: 5px;
  background-color: #151519;
  padding: 20px;
  width: 500px;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.btnSection {
  text-align: center;
}

.btn {
  border: none;
  border-radius: 10px;
  background-color: var(--secondary-text-color);
  color: var(--main-background-color);
  text-align: center;
  width: 100px;
  height: 40px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 var(--link-hover-color);
  transition: ease-out 0.2s;
  outline: none;
}

.btn:hover {
  box-shadow: inset 100px 0 0 0 var(--link-hover-color);
}

.formLabel {
  color: var(--link-hover-color);
}
.formInput,
.formArea {
  background-color: var(--secondary-text-color);
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

// .formArea {
//   width: 400px;
//   height: 100px;
//   margin: 10px 0px;
//   font-size: 15px;
//   resize: none;
//   background-color: var(--secondary-text-color);
//   border-radius: 10px;
//   max-width: 100%;
//   padding-left: 20px;
//   padding-right: 20px;
// }

@media screen and (max-width: 730px) {
  .contactForm {
    width: 300px;
    margin-top: 27px;
    margin-left: auto;
    margin-right: auto;
  }
}
