:root {
  --link-hover-color: #d87093;
  --main-text-color: #fefefa;
  --secondary-text-color: #ffe7d4;
  --main-background-color: #252939;
} // --main-text-color: #2c2c2cfd;

html,
body {
  // padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--main-background-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
