// :root {
//   --link-hover-color: #d87093;
//   --main-text-color: #fefefa;
//   --secondary-text-color: #ffe7d4;
//   --main-background-color: #252939;}

.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.firstMessage {
  text-align: center;
}

.myName,
.fullstackMessage {
  color: var(--link-hover-color);
}

.intro {
  color: var(--secondary-text-color);
  line-height: 1.15;
  font-size: 3rem;
  font-weight: bold;
}

.description {
  color: var(--main-text-color);
  line-height: 1.5;
  font-size: 1 rem;
  text-align: center;
}

.btn {
  border: none;
  border-radius: 10px;
  background-color: var(--secondary-text-color);
  color: var(--main-background-color);
  text-align: center;
  width: 100px;
  height: 40px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 var(--link-hover-color);
  transition: ease-out 0.2s;
  outline: none;
}

.btn:hover {
  box-shadow: inset 100px 0 0 0 var(--link-hover-color);
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid var(--link-hover-color);
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.footerIcons {
  text-align: center;
  margin-top: px;
  border: none;
  background-color: var(--background-color);
  color: var(--secondary-text-color);
}

.footerIcons:hover {
  color: var(--link-hover-color);
  cursor: pointer;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.homeImg {
  border-radius: 50%;
  max-width: 100%;
  display: flex;
  position: relative;
}

@media screen and (min-width: 730px) {
  .wrapper {
    display: flex;
    margin-left: 50px;
    gap: 90px;
  }
}

@media screen and (max-width: 730px) {
  .imgContainer {
    margin-left: 50px;
  }

  .myName,
  .fullstackMessage,
  .intro,
  .fullstop,
  .description {
    text-align: center;
  }
}

.fullstackMessage .dynamicText {
  height: 49px;
  line-height: 47px;
  overflow: hidden;
  text-align: center;
}

.transitionWords {
  margin-right: 20px;
}

.dynamicText li {
  list-style: none;
  position: relative;
  top: 0;
  animation: slide 15s steps(3) infinite;
}

@keyframes slide {
  100% {
    top: -150px;
  }
}

.dynamicText li {
  position: relative;
}

.dynamicText li::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--main-background-color);
  border-left: 2px solid;
  animation: typing 5s steps(10) infinite;
}

@keyframes typing {
  30%,
  60% {
    left: calc(80% + 30px);
  }
  100% {
    left: 0;
  }
}
